* {
  font-family: sans-serif;
}

.header {
  width: 85%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .h-part-1 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .h-part-2 {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header .p-big {
  font-size: 28px;
  color: #2642F8;
  font-weight: 700;
}
.header .p-normal {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.header button {
  font-size: 17px;
  color: #2642F8;
  font-weight: 700;
  padding: 10px 45px;
  border-radius: 50px;
  text-align: center;
  border: 1px solid #2642F8;
  background-color: transparent;
}
.header select {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  border: none;
}

main {
  width: 85%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .section-1 {
  display: flex;
  gap: 100px;
  align-items: center;
}
main .section-1 .p-big {
  font-size: 44px;
  font-weight: 900;
  color: #000000;
  line-height: 50px;
}
main .section-1 .p-small {
  font-size: 14px;
  font-weight: 900;
  color: #000000;
  line-height: 0px;
}
main .section-1 .p-normal {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  width: 90%;
  line-height: 25px;
}
main .section-1 .div {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .section-1 .p {
  font-size: 14px;
  color: #BDBDBD;
  font-weight: 500;
  align-self: center;
}
main .section-1 .divv {
  display: flex;
  gap: 40px;
  align-items: center;
}
main .section-1 .p-1 {
  font-size: 16px;
  font-weight: 900;
  line-height: 10%;
  color: #000000;
}
main .hr {
  width: 100%;
}
main .section-2 {
  display: flex;
}
main .section-2 .left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 500px);
  padding: 0px 20px;
  border-right: 1px solid grey;
  gap: 20px;
}
main .section-2 .left .p {
  font-size: 12px;
  font-weight: 900;
  color: #000000;
}
main .section-2 .left .pspan {
  font-size: 12px;
  font-weight: 900;
  color: #828282;
}
main .section-2 .left .p-1 {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
}
main .section-2 .left .p-2 {
  font-size: 15px;
  font-weight: 700;
  color: #4F4F4F;
}
main .section-2 .left .pad {
  padding: 5px;
  background-color: #F2F2F2;
}
main .section-2 .left .line-up {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: -10px;
  margin-bottom: -10px;
}
main .section-2 .left .p-3 {
  font-size: 17.5px;
  color: #333333;
  line-height: 20px;
}
main .section-2 .left .comment {
  display: flex;
  gap: 10px;
}
main .section-2 .left .comment-p {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
}
main .section-2 .left .comment-pspan {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}
main .section-2 .left .div-1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .section-2 .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20px;
}
main .section-2 .right .p {
  font-size: 16px;
  font-weight: 800;
  color: #000000;
}
main .section-2 .right .div-1 {
  display: flex;
  align-items: center;
  gap: 20px;
}
main .section-3 {
  display: flex;
  gap: 50px;
  align-items: center;
}
main .section-3 .left {
  width: 50%;
}
main .section-3 .left .p {
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  font-weight: 700;
  width: 90%;
}
main .section-3 .left .input {
  padding: 15px;
  width: 360px;
  border: 2px solid grey;
  border-radius: 10px;
}
main .section-3 .left .input::-moz-placeholder {
  font-size: 16px;
  color: #BDBDBD;
}
main .section-3 .left .input::placeholder {
  font-size: 16px;
  color: #BDBDBD;
}
main .section-3 .left .button {
  font-size: 16px;
  font-weight: 700;
  color: #F2F2F2;
  background-color: #2642F8;
  width: 155px;
  border-radius: 50px;
  padding: 15px;
  border: none;
}
main .section-3 .left .flex-1 {
  display: flex;
  gap: 30px;
}
main .section-3 .right {
  width: 50%;
}
main .section-3 .right .p {
  font-size: 18px;
  line-height: 30px;
  color: #828282;
  font-weight: 500;
  width: 70%;
  margin: auto;
}

.width100 {
  width: 100%;
}

.size {
  width: 70px;
  height: 70px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */